<div class="box border">
<div class="nested-fields">
  <div class="field">
    <%= f.label :room_id %>
    <%= f.select :room_id, options_for_select(Room.available_rooms.map{|room| [room.display_room,room.id]}) %>
  </div>
  <div class="field">
    <%= f.label :check_in %>
    <%= f.datetime_select :check_in %>
  </div>
  <div class="field">
    <%= f.label :check_out %>
    <%= f.datetime_select :check_out %>
  </div>
  <div>
    <%= link_to_remove_association "remove bookings", f %>
  </div>
</div>
</div>

