<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Check in:</strong>
  <%= @room_booking.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @room_booking.check_out %>
</p>

<p>
  <strong>Room number:</strong>
  <%#= @room_booking.room.room_number %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<% else %>
<p> Please sign in first! </p>
<% end %>

