<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<h1 class="text-center text-light bg-success">Invoice</h1>
<br/>
<table class="table">
<thead class="bg-success">
	<th>Email</th>
	<th>Check_in</th>
	<th>Check_out</th>
	<th>Category</th>
	<th>Number Of Days</th>
	<th>Total</th>
	
</thead>
<tr>
<% total =0%>
<% @booking_final.each do |r| %>
<td><%= r.booking.user.email %></td>
<td><%= r.check_in %></td>
<td><%= r.check_out %></td>
<td><%= r.room.category.name%></td>
<td><%=  (r.check_out.to_date - r.check_in.to_date).to_i %> x <%= r.room.category.price %> </td>
<% total = total + (r.room.category.price * ((r.check_out.to_date - r.check_in.to_date).to_i))%>
<td><%= r.room.category.price * ((r.check_out.to_date - r.check_in.to_date).to_i) %></td>

</tr>
<% end %>
</table>

<div class="text-light bg-success text-center"><h2>Grand total: <%= total %></h2></div>




<%#= link_to 'Edit', edit_booking_path(@booking_final) %> 
<%#= link_to 'Back', bookings_path %>
<% else %>
<p> Please sign in first! </p>
<% end %>

