<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Availibility:</strong>
  <%= @room.availibility%>
</p>

<%= link_to 'Edit', edit_room_path %> |
<%= link_to 'Back', hotel_rooms_path(@room.hotel_id) %>
