<div style="width: 340px;
margin: 50px auto;">
<div class="card">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Filter your hotels</strong>
  </h5>
<%= form_for @filter, html: {class: "pure-form"} do |f| %>

<div class="field">
    <%= f.label :city %><br>
   <%= f.select :city, options_for_select(@city), :include_blank => false %>
</div>

<div class="field">
<%= f.label :category %><br>
<%= f.select :category, options_for_select(@cat_name), :include_blank => false %>
</div>
<br>
<%#= f.collection_select :category_ids, Category.all,:id,:name, include_blank: false %>


<div class="field">
<p><%= f.label :min_price, "min price" %> - <%= f.text_field :min_price, size:10 %></p>
<p><%= f.label :min_price, "mix price" %> - <%= f.text_field :max_price, size:10 %></p>

</div>

<div class="actions"><%= f.submit "Filter", class: "btn-success"%>
</div>

<% end %>
<br>
<p><%= link_to "back", hotels_path %>