<h1 class="text-center text-success">"search Result"</h1>
<p><%= link_to 'back', new_filter_path %></p>

<% if @filter.empty? %>

<p> no records found </p>

<% else %>
<table class="table">
  <thead class="thead bg-success">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Location</th>
      <th>Show</th>
    </tr>
   </thead>
<% @filter.each do |f| %>
	 <tr>
      <td><%= f.name %></td>
      <td><%= f.address %></td>
      <td><%= f.location.city %></td>  
      <td><%= link_to 'Show', hotel_url(f) %></td>
     </tr>

<% end %>

<% end %>
</table>