<%= form_with(model: hotel, local: true) do |form| %>
<% if hotel.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

  <ul>
    <% hotel.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div style="width: 340px;
margin: 50px auto;">
<div class="card">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong class="text-success">your hotel</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
  <div class="text-center">

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :address %>
  <%= form.text_area :address %>
</div>

<div class="field">
  <%= form.label :images %>
  <%= form.file_field :images, multiple: true %>
</div>
<br/>
<div class="field">
  <%#= select("location", "location_id", Location.all.collect {|l| [ l.city, l.id ] }, { include_blank: true }) %>
  <%= form.collection_select :location_id, Location.all,:id,:city, include_blank: false %>
</div>
<br/>
<%#= link_to 'Add Rooms', new_room_path %>

<%# <%= redirect_to '/category/new' %>
<div class="actions">
  <%= form.submit %>
</div>
<% end %> 
