

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<% if @hotel.image.present? %>
<p>
<%= image_tag(@hotel.image,) %>
</p>
<% else %>
<p> Image not uploaded </p>
<% end %>

<p>
  <strong>Location:</strong>
  <%= @hotel.location.city%>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
