
<table class="table table-success">
<thead>
    <tr>
      <th scope="col">Name:</th>
      <th scope="col"><%= @hotel.name %></th>
      
    </tr>
</thead>
<tr>
      <th scope="col">Rating:</th>
      	<td class="star-rating" data-score= <%= @avg_review %> ></td> 
</tr>      
	<tr>
	<td scope="col">Address:</td>
	<td scope="col"><%= @hotel.address %></td>
</tr>
<tr>
	<td scope="col">Location:</td>
	<td scope="col"><%= @hotel.location.city%></td>
	</tr>
</table>
<% if @hotel.images.present? %>
<p>
	<% (0...@hotel.images.count).each do |image| %>
	<%= image_tag(@hotel.thumbnail(image)) %>
	<% end %>
</p>

<% else %>
<p> Image not uploaded </p>
<% end %>

<p>
<% if current_user && current_user.admin %>
<%= link_to 'add room details!',hotel_rooms_path(@hotel) ,  class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
</p>

<% if current_user %>
<%= link_to 'book now!', user_index_path , class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to "write reviews", new_hotel_review_path(@hotel),class: "btn btn-success" %>
<% else %>
<h3 class="text-danger">You need to login for booking.</h3>
<% end %>
<% if current_user && current_user.admin %>
<br/>
<br/>
<%= link_to 'Edit', edit_hotel_path(@hotel),class: "btn btn-outline-success my-2 my-sm-0" %> 
<% end %>
<br>
<br/>




	<div class="bg-light">
		<% if @reviews.blank? %>
			<h3>No reviews yet</h3>
		<% else %>
		<table class="table">
			 <h1 class="text-success"><%= "#{@reviews.length} reviews"%></h1>
			<% @reviews.each do |review| %>
				<p class="text-success"><%= review.user.email %></p>
				<div class="reviews">
				<div class="star-rating" data-score=<%= review.rating %> ></div> 
				<p><%= review.comment %></p>
				</div>
			<% end %>
		<% end %>
	</div>
	</table>


<%= link_to 'Back', hotels_path ,class: "btn btn-outline-success my-2 my-sm-0"%>


<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}			
	});
</script>



