<br/>
<% if current_user && current_user.admin %>
<%= link_to 'add room details!',hotel_rooms_path(@hotel) , class: "btn btn-light" %>
<% end %>
<p>
	<strong>Name:</strong>
	<%= @hotel.name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @hotel.address %>
</p>

<% if @hotel.images.present? %>
<p>
	<% (0...@hotel.images.count).each do |image| %>
	<%= image_tag(@hotel.thumbnail(image)) %>
	<% end %>
</p>

<% else %>
<p> Image not uploaded </p>
<% end %>

<p>
	<strong>Location:</strong>
	<%= @hotel.location.city%>
</p>
<br>
<% if current_user %>
<%= link_to 'book now!', user_index_room_bookings_path %>
<% end %>
<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_hotel_path(@hotel) %> 
<% end %>
<br>
<%= link_to 'Back', hotels_path %>
