<div class="row" 
         style="background:transparent url('/assets/review.jpg') no-repeat center center /cover">
<div style="width: 340px;
margin: 80px auto;">
<div class="card">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign up</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <div class="text-center">
<%= form_with(model: [@hotel,review], local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <div id="star-rating"></div>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>
