<!DOCTYPE html>
<html>
  <head>
    <title>Abrigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/assets/icon.jpg" height="60px" width="60px">
    
    <a class="navbar-brand" href="#"><h2><b><i>Abrigo</h2></a>
    <% if current_user%>
    
     <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0"%>
     <%# <h3 style="float: right">hello! <%= current_user.email%>
        <% else %>
        
        <%= link_to 'Sign up', new_user_registration_path,  class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to 'Sign in', new_user_session_path,  class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
        <%= link_to 'show hotel', hotels_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% if current_user && current_user.admin %>
          <%= link_to 'show user', users_path, class: "btn btn-outline-success my-2 my-sm-0" %>
          
        
<% end %>


<%# <% if current_user && current_user.admin%>

 <%#= link_to 'show hotel', hotels_path, class: "btn btn-outline-success my-2 my-sm-0" %>
 <%# <%= link_to 'show user', users_path,  class: "btn btn-outline-success my-2 my-sm-0" %>
<%# end %> 






    </nav>












  </head>

  <body>
    <% render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
