<!DOCTYPE html>
<html>
  <head>
    <title>Abrigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Abrigo</a>
    <% if current_user%>
    
     <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0"%>
        <% else %>
        
        <%= link_to 'Sign up', new_user_registration_path,  class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to 'Sign in', new_user_session_path,  class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
        <%= link_to 'show Hotel', hotels_path, class: "btn btn-outline-success my-2 my-sm-0" %>
    </nav>
  </head>

  <body>
    <% render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
